*{box-sizing: border-box;}

body{

 background-size: cover;
    background-repeat: no-repeat;
margin:0;
}
nav
 {
    height: 50px;
    width: 100%;
    background-color:transparent;
  
    position: relative;
    
}
nav ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
position:fixed;
width:100%;
height:50px;

}
li
{display:inline;
}
#Name
{float:left;
margin-left:40px;
font-size:40px;
font-family:Palatino Linotype, Book Antiqua, Palatino, serif;

color:#0000e6;}
#Home
{float:left;
padding:20px 10px 10px 10px;
margin-left:600px;
margin-right:15px
}

#About{float:left;
padding:20px 10px 10px 10px;
margin-left:15px;
margin-right:15px
}
#Contact
{float:left;
padding:20px 10px 10px 10px;
margin-left:15px;
margin-right:70px;

}


li a
{

text-decoration:none;
font-size:15px;
color:black;
font-family:Tahoma, Geneva, sans-serif;
border:5px solid transparent;
border-radius:5px;
}
li a:hover {
    background-color: #e62e00;
color:white;



}
@media screen and (max-width: 600px) {
    nav { 
        height: auto;
    }
    nav ul {
        width: 100%;
        display: block;
        height: auto;
    }
nav ul li {
        display:block;
    }
#Name
{background:rgba(255,255,255,0.5);
margin-left:15px;
}

#Home
{float:left;
clear:left;
margin-left:15px;

margin-bottom:1px;
}
#About
{float:left;
clear:left;
margin-bottom:1px;
}
#Contact
{float:left;
clear:left;

}
li a
{background:rgba(255,255,255,0.5);
color:black;
}
}




